<div class="d-flex align-items-center justify-content-center gap-3">
  <span>Page</span>
  <nav aria-label="...">
    <ul class="pagination m-0">
      <li
        class="page-item"
        [ngClass]="{ disabled: selectedPageNumber == 1 }"
        (click)="previousClickHandler()"
      >
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ selectedPageNumber }}</a>
      </li>
      <li
        class="page-item"
        [ngClass]="{ disabled: selectedPageNumber == pageCount }"
        (click)="nextClickHandler()"
      >
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <span> Of {{ pageCount }} of Size</span>
  <app-select
    [options]="pagination"
    [initialItemIndex]="2"
    (selectedChanged)="pageSizeChangedHandler($event)"
  ></app-select>
  <span> {{ totalCount }} in total</span>
</div>
