<table class="table">
  <thead *ngIf="tableModel.hasHeader">
    <th *ngFor="let header of _headers">
      {{ header }}
      <app-sort-button
        *ngIf="tableModel.hasSorting"
        [sortOrder]="_sortColumn === header ? _sortOrder : _sortOrderNone"
        (sortClicked)="sortClickHandler($event, header)"
      ></app-sort-button>
    </th>
    <th *ngIf="tableModel.hasAddNew">
      <app-add-button></app-add-button>
    </th>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of _shownItem; trackBy: trackByFn"
      [ngTemplateOutlet]="rowTemplate"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></tr>
  </tbody>
</table>
<app-pagination
  *ngIf="tableModel.hasPaging"
  [pageCount]="_pageSize"
  [selectedPage]="_pageNumber"
  (pageSizeChanged)="pagingChanged($event)"
></app-pagination>
