<div class="p-5">
  <span>total number of rows is : {{ tableModel.items.length }}</span>
  <table class="table">
    <thead *ngIf="tableModel.hasHeader">
      <tr>
        <th scope="col" *ngFor="let header of tableModel.headers">
          {{ header }}
          <app-sort-button
            *ngIf="tableModel.hasSorting"
            [sortOrder]="_sortColumn === header ? _sortOrder : _sortOrderNone"
            (sortClicked)="sortClickHandler($event, header)"
          ></app-sort-button>
        </th>
        <th *ngIf="tableModel.hasAddNew">
          <app-add-button [targetCollapse]="collapseId"></app-add-button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="
          let item of tableModel.items.slice(
            (_selectedPageNumber - 1) * _pageSize,
            _selectedPageNumber * _pageSize
          );
          trackBy: trackByFn
        "
        [ngTemplateOutlet]="rowTemplate"
        [ngTemplateOutletContext]="{ $implicit: item }"
      >
      </ng-container>
      <tr class="collapse" [id]="collapseId">
        <td [attr.colspan]="_headers.length + 1">
          <ng-content></ng-content>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    *ngIf="tableModel.hasPaging"
    [pageCount]="pagingConfigure(tableModel.items)"
    [selectedPageNumber]="_selectedPageNumber"
    (pageSizeChanged)="pageSizeChangedHandler($event)"
    (pageNumberChanged)="pageNumberChangedHandler($event)"
  ></app-pagination>
</div>
