<div class="container d-flex align-items-center justify-content-center">
  <form class="form-horizontal">
    <div class="form-group row">
      <label for="districtName" class="col-sm-4 col-form-label"
        >District Name</label
      >
      <div class="col-sm-6">
        <input
          type="email"
          class="form-control"
          id="districtName"
          placeholder="Enter name"
        />
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </form>
</div>
